<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Compétences PHP</h1>

<table id="customers">
  <tr>
    <th>Compétence</th>
    <th>Niveau</th>
  </tr>
    <tr>
      <td>Installation et configuration de Symfony</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Création d'un projet Symfony</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Création de routes</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Création de contrôleurs</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Création de vues</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Utilisation des bundles</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Gestion des formulaires</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Gestion des entités</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Gestion des relations entre entités</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Utilisation de Doctrine</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Utilisation de Twig</td>
      <td>Débutant</td>
    </tr>
    <tr>
      <td>Utilisation de la sécurité</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation de l'authentification</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation de l'autorisation</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Gestion des événements</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Gestion des exceptions</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation des services</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation de l'injection de dépendances</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation de la console</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation de la configuration</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation de l'internationalisation</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation de l'API REST</td>
      <td>Avancé</td>
    </tr>
</table>




</body>
</html>
