<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!----portfolio section Start ----->

<br><br>
        <div >
            <div class="contenier">
                <p>.</p>
                <div >
                    <div >

                                  <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial"></span>
                    <h2 class="section-title contact__initial">Contactez moi</h2>
                     <p class="contact__description">

Je suis ravi de vous présenter mes qualités professionnelles qui se sont développées grâce à mon expérience dans le développement  pendant mon stage chez cousbeldi. Je suis passionné par la création de sites web interactifs et fonctionnels, ce qui se reflète dans mes compétences techniques et mes réalisations.

Pendant ce stage j'ai crée un site vitrine en me fiant sur une maquette existante développée en FIGMA, j'ai créé des interfaces liées à la carte(menu et autres) du restaurant attrayantes et intuitives en utilisant des langages front-end tels que HTML, CSS et JavaScript. J'ai également veillé à rendre ce site responsive et accessible en cliquant sur le rond .

En ce qui concerne les applications codée en JAVA EE, j'ai eu l'occasion de travailler sur un projet Java EE complet. J'ai utilisé des technologies telles que les servlets, les vues JSP et la technologie JSTL pour construire une architecture solide et modulaire. Grâce à cette approche, j'ai pu séparer clairement la logique métier de la présentation, ce qui a facilité la maintenance et l'évolutivité du projet.

En ce qui concerne la couche métier, j'ai conçu des servlets pour gérer les requêtes utilisateur, en appliquant les principes du modèle MVC (Modèle-Vue-Contrôleur).

Pour la couche de données, j'ai utilisé JDBC (Java Database Connectivity) pour interagir avec une base de données MySQL.


De plus, je serais ravi de vous expliquer en détail l'application complète que j'ai réalisée en Java EE lors de notre entretien. Elle met en valeur mes compétences en matière de développement web et démontre ma capacité à concevoir des solutions logicielles robustes et performantes.

Je reste à votre disposition pour discuter davantage de mes réalisations et de mon expérience. Je suis convaincu que mon expertise en développement web et ma maîtrise des technologies Java EE seraient un atout précieux pour votre entreprise."

                            </p>

                </div>
                  <a href="https://djibamady.github.io/"><i class="fa-solid fa-up-right-from-square"></i>Cliquez ici</a>

                <div class="contact__button">
                  <a href="https://djibamady.github.io/"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </section>

                    </div>

                </div>



           <!-- <a href=".wo" class="btn">Learn More</a>-->
            </div>
            <br>
            <br>
        </div>
         <!----portfolio section End ----->


</body>
</html>
