<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!----portfolio section Start ----->
<br><br>
        <div id="portfolio">
            <div class="contenier">
                <h1 class="sub-title">Mes travaux</h1>
                <p>.</p>
                <div class="work-list">
                    <div class="work">
                        <img src="(../../assets/img/Portfolio2.png" >
                        <div class="layer">
                            <h3>Pokemon App</h3>
                            <p>Cette application est la deuxième que j'ai développé en Angular après une série de formation suivit en ligne,  j'ai utilisé mes compétences  en Angular pour intégrer l'API pokemons, en manipulation les données et faire la conception d'interfaces utilisateur. Mon travail sur cette application de recherche de Pokémon témoigne ma capacité à développer des applications web fonctionnelles et attrayantes en utilisant les technologies appropriées.</p>
                            <a href="https://gitlab.istic.univ-rennes1.fr/mfofana/pokdemo.git"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>

                    </div>
                    <div class="work">
                        <img class="img" src="(../../assets/img/Portfolio3.png" >
                        <div class="layer">
                            <h3>Exogen App</h3>
                            <p>Proposé par le laboratoire IRISA, ce projet a pour but d’aider les enseignants du module bases de données de faire face à certains défis à travers la génération automatique des sujets d’examens. </p>
                            <a href="https://gitlab.istic.univ-rennes1.fr/mfofana/exogen.git"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>

                    </div>



                </div>

                   <div class="work-list wo">

                   <div class="work">
                        <img src="(../../assets/img/Portfolio4.png" >
                        <div class="layer">
                            <h3>Ticket App</h3>
                            <p>Création d'API RESTful(Backend) : L'application utilise JAX-RS pour créer des endpoints API qui permettent de récupérer, créer, mettre à jour et supprimer des tickets, utilisateurs,tags,évolution . Les annotations JAX-RS telles que @GET, @POST, @PUT, @DELETE sont utilisées pour définir les opérations de l'API.
                                <br>Frontend : Utilisation de composants et de services ,du Routage, de la Gestion des formulaires en Angular.</p>
                                <p>PROJET MANAGEMENT TOOL:
Apache Maven<br>
TECHNOLOGIES
java, JPA, Hibernate, MySQL, API REST, OpenAPI, Swagger, Postman</p>
                                <a href="https://gitlab.istic.univ-rennes1.fr/mfofana/ticket-app.git"><i class="fa-solid fa-up-right-from-square"></i></a>

                        </div>


                    </div>
                     <div class="work">
                        <img src="(../../assets/img/Portfolio4.png" >
                        <div class="layer">
                            <h3>Minieditor App</h3>
                            <p> L'application est structurée en utilisant des classes et des objets Java pour représenter les différentes entités, telles que Engine, EngineImpl, Selection etc.Manipulation de chaînes de caractères et les opérations sur celles-ci(copy,paste,delete,undo,redo,selection, etc)<br>Réalisation des testes unitaire(JUnit) java</p>
                            <a href="https://gitlab.istic.univ-rennes1.fr/mfofana/minieditorapp.git"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>


                    </div>
                </div>
                <div class="work-list wo">

                   <div class="work">
                        <img src="(../../assets/img/Portfolio4.png" >
                        <div class="layer">
                            <h3>Kanban App</h3>
                            <p>
Création d'API RESTful(Backend) : L'application utilise JAX-RS pour créer des endpoints API qui permettent de récupérer, créer, mettre à jour et supprimer des tableau, utilisateurs,section,fiche ect . Les annotations JAX-RS telles que @GET, @POST, @PUT, @DELETE sont utilisées pour définir les opérations de l'API.
                                <br>Frontend : Utilisation de composants et de services ,du Routage, de la Gestion des formulaires en Angular etc.</p>
                            <a href="https://gitlab.istic.univ-rennes1.fr/aibouraima/tpjpa2022.git"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>


                    </div>
                     <div class="work">
                        <img src="(../../assets/img/Portfolio4.png" >
                        <div class="layer">
                            <h3>LogBigBlue App</h3>
                            <p>Cette application est en cours d'implémentation!</p>

                        </div>


                    </div>
                </div>

           <!-- <a href=".wo" class="btn">Learn More</a>-->
            </div>
        </div>
         <!----portfolio section End ----->


</body>
</html>
