<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Compétences PHP</h1>

<table id="customers">
  <tr>
    <th>Compétence</th>
    <th>Niveau</th>
  </tr>

  <tr>
      <td>Syntaxe et structure du langage</td>
      <td>Avancé</td>
    </tr>
     <tr>
      <td>Opérations arithmétiques et mathématiques</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Variables et types de données</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Création et Manipulation de Fonctions</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Structures de contrôles</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation des opérateurs et expressions conditionnelles</td>
      <td>Avancé</td>
    </tr>

    <tr>
      <td>Gestion des erreurs et des exceptions</td>
      <td>Intermedediaire</td>
    </tr>
    <tr>
      <td>Manipulation de fichiers et de répertoires</td>
      <td>Intermedediaire</td>
    </tr>
    <tr>
      <td>Programmation orientée objet (POO)</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation de bibliothèques</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Travail avec des bases de données</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Utilisation de frameworks web (Django, Flask, etc.)</td>
      <td>Intermédiaire</td>
    </tr>
    <tr>
      <td>Création d'applications web</td>
      <td>Intermédiaire</td>
    </tr>

</table>




</body>
</html>
