<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <!-----Service section Start----->
     <div id="services">
        <div class="contenier">

            <!--suite-->
             <div class="services-list">
                <div>
                    <img src="../../assets/img/flag.png" >
                    <h2>Développeur PYTHON</h2>
                    <p>En tant que développeur Python débutant, j'ai encore beaucoup à apprendre sur ce langage de programmation. J'ai acquis une compréhension de base de la syntaxe et de la structure de Python, Je connais les structures de données fondamentales de Python, telles que les listes, les dictionnaires et les tuples, et je suis capable d'utiliser les boucles et les conditions pour parcourir et manipuler ces structures de données. Cependant, je n'ai pas encore beaucoup d'expérience dans la gestion de grandes quantités de données.Je suis capable de créer des fonctions en Python pour effectuer des tâches répétitives et des classes pour encapsuler des données et des comportements connexes. Cependant, je ne suis pas encore très à l'aise avec la programmation orientée objet en Python.  </p>
                    <a routerLink="/python">Voir tableau</a>
                </div>
                <div>
                    <img src="../../assets/img/pancel.png" >
                    <h2>Développeur ANGULAR</h2>
                    <p>En tant que développeur Java EE, je maîtrise le modèle MVC ainsi que la création de Servlets et leur association avec des vues. J'ai une bonne connaissance des inclusions de JSP et de la communication de données entre les pages. J'utilise couramment l'Expression Language et les Java Beans dans mes JSP et je suis capable de manipuler la JSTL pour réaliser des conditions et des boucles. J'ai également une maîtrise dans la gestion des sessions et des cookies, ainsi que dans le travail avec JDBC pour interagir avec les bases de données et le modèle DAO pour gérer mes données. Enfin, j'ai une bonne compréhension de la gestion des erreurs dans mes DAO.</p>
                     <a routerLink="/angular">Voir tableau</a>
                </div>
                <div>
                    <img src="../../assets/img/grars.png" >
                    <h2>Développeur SYMFONY</h2>
                    <p>J'ai une solide compréhension du fonctionnement d'un site web PHP,
                       de l'écriture de scripts,
                        de l'utilisation des variables,
                         des structures de contrôle, des conditions, des boucles et des tableaux. J'ai aussi
                           une connaissance avancée dans la réalisation de sites web dynamiques avec PHP, la transmission de données de page en page, l'écoute des requêtes des utilisateurs, l'administration de formulaires de manière sécurisée et la conservation de données grâce aux sessions et aux cookies.

De plus,je manipule aisement les données grâce aux bases de données avec PHP, y compris l'accès aux données en PHP avec PDO et la réalisation de CRUD (Create, Read, Update, Delete) avec PHP.

Tout ça avec la programmation orientée objet en PHP.</p>
                    <a routerLink="/symfony">Voir tableau</a>

                  </div>

            </div>


        </div>
     </div>
     <router-outlet></router-outlet>
      <!----services section end ----->
</body>
</html>
