<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Compétences PHP</h1>

<table id="customers">
  <tr>
    <th>Compétence</th>
    <th>Niveau</th>
  </tr>

    <tr>
      <td>Pprogrammation orientée objet en PHP</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Fonctionnement d'un site écrit en PHP</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Mise en place de l'environnement de travail</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Ecriture de scripts PHP</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Visualisation des erreurs</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Réalisation de sites web dynamiques avec PHP</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation de variables</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation des structures de contrôle</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation des conditions</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation des boucles</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Utilisation des tableaux</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Fonctions PHP</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Transmission de données de page en page</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Ecoute de la requête des utilisateurs</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Administration de formulaires de façon sécurisée</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Conservation de données grâce aux sessions et aux cookies</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Stockage d'informations dans une base de données</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Mise en place d'une base de données avec phpMyAdmin</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Accès aux données en PHP avec PDO</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>CRUD avec PHP</td>
      <td>Avancé</td>
    </tr>
    <tr>
      <td>Test Unitaire</td>
      <td>Intermediaire</td>
    </tr>
</table>




</body>
</html>
