<img src="../../assets/img/Java-Logo.png" height="80px" width="80px">
    <h2>Développeur JAVA</h2>
    <p>Ici j'ai élaboré toutes mes connaisances en
      En tant que développeur Java j'ai une bonne maîtrise de Java, avec des compétences avancées dans de nombreux domaines tels que la programmation orientée objet, la manipulation de collections, la syntaxe Java, les opérateurs Java, la structure de contrôle, la récursivité, les classes et objets, l'héritage, le polymorphisme et l'abstraction. Je possède également une connaissance intermédiaire de la conception de modèles de données, de l'utilisation de frameworks Java et de la création d'applications Web. J'ai également une bonne connaissance de l'utilisation des types de données et de l'API Java, ainsi que de la manipulation des collections telles que ArrayList, LinkedList, HashMap , HashSet ainsi que utilisé des itérators sur ses collections.
    </p>



