<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Compétences JAVA EE</h1>

<table id="customers">
  <tr>
    <th>Compétence</th>
    <th>Niveau</th>
  </tr>
  <tr>
    <td>Mettre en place le modèle MVC</td>
    <td>Avancé
    </td>
  </tr>
  <tr>
    <td>Mettre en place l'environnement de développement</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Création de Servlets</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Associer une vue à un Servlet</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Faire des inclusions JSP</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Communiquer des données entre pages</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Utilisation des Expression Language dans les JSP</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Manipuler des Java Beans(classe) dans les JSP</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Manipuler la JSTL</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>JSTL et conditions</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>JSTL et boucles</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Les formulaires avec Java EE</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Gestion des sessions</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Stocker les cookies</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Travailler avec JDBC et une base de données</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>CRUD en SQL</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Utilisation du modèle DAO</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Gestion des erreurs avec son DAO</td>
    <td>Avancé</td>
  </tr>
   <tr>
    <td>Metrre en place API</td>
    <td>Avancé</td>
  </tr>

 </table>







</body>
</html>
