
 <!-----Service section Start----->

                    <img src="../../assets/img/PHP_logo.png" height="80px" width="80px">
                    <h2>Développeur PHP</h2>
                    <p>J'ai une solide compréhension du fonctionnement d'un site web PHP,
                       de l'écriture de scripts,
                        de l'utilisation des variables,
                         des structures de contrôle, des conditions, des boucles et des tableaux. J'ai aussi
                           une connaissance avancée dans la réalisation de sites web dynamiques avec PHP, la transmission de données de page en page, l'écoute des requêtes des utilisateurs, l'administration de formulaires de manière sécurisée et la conservation de données grâce aux sessions et aux cookies.

De plus,je manipule aisement les données grâce aux bases de données avec PHP, y compris l'accès aux données en PHP avec PDO et la réalisation de CRUD (Create, Read, Update, Delete) avec PHP.

Tout ça avec la programmation orientée objet en PHP.</p>
