<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Compétences</h1>

<table id="customers">
  <tr>
    <th>Compétence</th>
    <th>Niveau</th>
  </tr>
  <tr>
      <td>Programmation orientée objet</td>
      <td>Avancé</td>
  </tr>
  <tr>
    <td>Manipulation de collections</td>
    <td>Avancé</td>
  </tr>
  <tr>
      <td>Conception de modèles de données</td>
      <td>Intermédiaire</td>
  </tr>
  <tr>
      <td>Utilisation de frameworks Java</td>
      <td>Intermédiaire</td>
  </tr>
  <tr>
    <td>Création d'application web</td>
    <td>Intermediaire</td>
  </tr>
  <tr>
    <td>Syntaxe</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Afficher message</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Commentaire</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Manipulation des types de données</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Type Casting</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Opérateurs</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Structure de Contrôle</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java If..Else</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Switch Statements</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Boucle</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Méthode</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Récursivité</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Orienté Objet</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Classes/Objets</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Class Attributs</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Class Méthodes</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Constructeurs</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Setteurs</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Encapsulation</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Packages / API</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Héritage</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Polymorphisme</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Abstraction</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Interface</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Java Enumération</td>
    <td>Avancé</td>

</tr>

  <tr>
    <td>Enumération</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>User Input</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>ArrayList</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>LinkedList</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>HashMap</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>HashSet</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Iterator</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Exceptions</td>
    <td>Avancé</td>
  </tr>
  <tr>
    <td>Threads</td>
    <td>Intermédiaire</td>
  </tr>


 </table>
</body>
</html>
