  <img src="../../assets/img/java-ee-8-logo.jpg" height="80px" width="80px" style="border-radius: 50%;" >
  <h2>Développeur Java EE</h2>
  <p>En tant que développeur Java EE, je maîtrise le modèle MVC ainsi que la création de Servlets et leur association avec des vues. J'ai une bonne connaissance des inclusions de JSP et de la communication de données entre les pages. J'utilise couramment l'Expression Language et les Java Beans dans mes JSP et je suis capable de manipuler la JSTL pour réaliser des conditions et des boucles. J'ai également une maîtrise dans la gestion des sessions et des cookies, ainsi que dans le travail avec JDBC pour interagir avec les bases de données et le modèle DAO pour gérer mes données. Enfin, j'ai une bonne compréhension de la gestion des erreurs dans mes DAO.</p>




