/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #080808;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}

/*----------------start service section -------------*/
#services{
    padding: 30px 0;
    background: #1f2c29;

}
#services .contenier{
    text-align: center;
}
#services .contenier p{
    margin-top: 15px;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}
.services-list div img{
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}
.services-list div a:hover{
    background:rgb(35, 35, 36);

}
.services-list div:hover{
    background: rgb(39, 39, 182);
    transform: translateY(-10px);
}




/*----------------end service section -------------*/

/*----------------start service section -------------*/
#services{
    padding: 30px 0;
    background: #1f2c29;

}
#services .contenier{
    text-align: center;
}
#services .contenier p{
    margin-top: 15px;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}
.services-list div img{
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}
.services-list div a:hover{
    background: rgb(39, 39, 182);

}
.services-list div:hover{
    background: rgb(39, 39, 182);
    transform: translateY(-10px);
}




/*----------------end service section -------------*/
